<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>          
        <rules>             
            <rule name="RewriteHTML">
              <match url="(.*)" />
                <conditions logicalGrouping="MatchAll">                     
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />                     
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />                 
                </conditions>                 <action type="Rewrite" url="{R:1}.html" />             
            </rule>                
        </rules>      
		</rewrite>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="400" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="407" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="414" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="415" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="503" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
            <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kanishkadeshpande.in\pagenotfound" />
        </httpErrors>
    </system.webServer>
</configuration>
